<ion-view view-title="Signup">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signUp(user)">
              Create an Account
            </button>
            <p class="text-center">
              <a href="#/login">Or, Login</a>
            </p>
          </div>
        </ion-content>
</ion-view>